[Desktop Entry]
Encoding=UTF-8
Name=Anatomy of Cornea by Dr. Parthopratim Dutta Majumder에 링크
Type=Link
URL=http://eophtha.com/Anatomy/anatomyofcornea.html
Icon=text-html
